@use '../../styles/utils/vars' as v;
@use '../../styles/utils/mixins' as m;

.products-page {
  max-width: 1136px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 64px;

  @include m.on-desktop {
    margin-bottom: 80px;
  }

  &__breadcrumbs {
    margin-top: 24px;
    margin-bottom: 24px;

    @include m.on-tablet {
      margin-bottom: 40px;
    }
  }

  &__total {
    margin-top: 8px;
    margin-bottom: 32px;
    color: v.$color_secondary;

    @include m.on-tablet {
      margin-bottom: 40px;
    }
  }

  &__selectors {
    margin-bottom: 24px;
  }

  &__pagination {
    margin-top: 24px;
    margin-bottom: 64px;

    @include m.on-tablet {
      margin-top: 40px;
    }

    @include m.on-desktop {
      margin-bottom: 80px;
    }
  }
}

.selectors {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @include m.on-tablet {
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:first-child {
      @include m.on-tablet {
        max-width: 187px;
        width: 100%;
      }

      @include m.on-desktop {
        max-width: 176px;
        width: 100%;
      }
    }

    &:last-child {
      @include m.on-tablet {
        max-width: 136px;
        width: 100%;
      }

      @include m.on-desktop {
        max-width: 128px;
        width: 100%;
      }
    }
  }

  &__type {
    color: v.$color_secondary;
    margin-bottom: 4px;
  }

  &__select {
    height: 40px;
    border: 1px solid v.$color_icons_placeholder;
    border-radius: 8px;
    padding: 10px 12px 9px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    @include m.hover(border-color, v.$color_secondary);
  }

  &__option {
    margin: 0;
    padding: 0;
  }
}
