@use '../../../../styles/utils/mixins' as m;

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));
  gap: 40px 16px;
  justify-content: start;

  @include m.on-tablet {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  }

  @include m.on-tablet-landscape {
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  }

  @include m.on-desktop {
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  }
}
