@use '../../../../styles/utils/mixins' as m;

.cart__list {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @include m.on-desktop {
    grid-column: 1 / 17;
  }
}
