@use '../../styles/utils/vars' as v;
@use '../../styles/utils/mixins' as m;

.back-button {
  display: flex;
  align-items: flex-end;

  &__wrapper {
    margin-bottom: 16px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 15.34px;
    color: v.$color_secondary;
    margin-left: 4px;

    @include m.hover(color, v.$color_primary);
  }
}
