@use '../../../../styles/utils/vars' as v;
@use '../../../../styles/utils/mixins' as m;

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  border: 1px solid v.$color_elements;
  border-radius: 16px;
  background-color: #fff;

  @include m.on-tablet {
    justify-content: space-between;
    flex-direction: row;
    padding: 24px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 80px;

    @include m.on-tablet {
      gap: 0;
      width: 328px;
    }

    @include m.on-tablet-landscape {
      justify-content: flex-start;
      gap: 32px;
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.on-tablet {
      gap: 24px;
      width: 200px;
    }

    @include m.on-tablet-landscape {
      flex-shrink: 0;
    }
  }

  &__title {
    color: v.$color_primary;

    @include m.hover('color', v.$color_secondary);
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include m.on-tablet {
      margin-right: 24px;
      width: 80px;
    }
  }

  &__icon-close {
    @include m.on-tablet {
      margin-right: 32px;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    cursor: pointer;

    @include m.hover('transform', scale(1.1));
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    max-width: 100px;
    width: 100%;
  }

  &__count {
    color: v.$color_primary;
  }

  &__price {
    @include m.h3-desktop;
  }
}
