@use '../../../styles/utils/mixins' as m;
@use '../../../styles/utils/vars' as v;

.add-to-cart-button {
  width: 100%;
  flex: 1 1 auto;
  height: 40px;
  background-color: #216cff;
  color: #fff;

  @include m.hover('box-shadow', 0 3px 13px 0 rgba(23, 32, 49, 0.4));

  @include m.on-tablet {
    width: 125px;
    height: 40px;
  }

  &.button--selected {
    border: 1px solid v.$color_elements;
    background-color: white;
    color: v.$color_accent_primary;

    @include m.hover('box-shadow', 0 1px 9px 0 v.$color_hover);
  }
}
