@use '../../styles/utils/mixins' as m;
@use '../../styles/utils/vars' as v;

.footer {
  padding-block: 32px;
  row-gap: 32px;

  @include m.page-grid;
  @include m.content-padding-inline;

  @include m.on-desktop {
    margin-inline: auto;
  }

  &__logo {
    grid-column: 1 / -1;
  }

  &__nav {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
  }

  &__nav-item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__nav-link {
    color: v.$color_secondary;
    grid-column: 1 / 2;

    @include m.hover(color, v.$color_primary);
  }

  &__buttons {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 1px solid v.$color_secondary;
    border-radius: 50%;

    @include m.hover(border-color, v.$color_primary);
  }

  &__buttons-text {
    color: v.$color_secondary;
  }

  @include m.on-tablet {
    .footer {
      margin-inline: auto;

      &__logo {
        grid-column: 1 / 4;
      }

      &__nav {
        grid-column: 5 / 10;
        flex-direction: row;
        gap: 13.5px;
        height: 32px;
        align-items: center;

        @include m.on-tablet {
          justify-content: space-evenly;
        }

        @include m.on-desktop {
          gap: 106px;
        }
      }

      &__nav-item {
        margin-bottom: 0;
      }

      &__buttons {
        grid-column: 10 / -1;
        justify-content: flex-end;
      }
    }
  }

  @include m.on-desktop {
    .footer {
      &__logo {
        grid-column: 1 / 8;
      }

      &__nav {
        grid-column: 8 / 17;
        justify-content: space-around;
      }

      &__buttons {
        grid-column: 17 / -1;
      }
    }
  }
}
