@use '../../../../styles/utils/vars' as v;
@use '../../../../styles/utils/mixins' as m;

.pagination {
  &__list {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__item {
    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 16px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid v.$color_icons_placeholder;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;

    &--active {
      background-color: v.$color_primary;
      color: white;
    }

    &.disabled {
      border-color: v.$color_elements;
      cursor: default;

      @include m.hover('border-color', v.$color_elements);
    }

    &.disabled svg path {
      fill: v.$color_elements;
    }

    @include m.hover('border-color', v.$color_primary);
  }
}
