@use '../../styles/utils/mixins' as m;

.home-page {
  max-width: 1136px;
  margin-inline: auto;
  margin-bottom: 64px;

  @include m.on-desktop {
    margin-bottom: 80px;
  }

  &__title {
    width: 100%;
    margin-block: 24px;

    @include m.on-tablet {
      margin-block: 32px;
    }

    @include m.on-desktop {
      margin-block: 56px;
    }
  }

  &__banner {
    background-color: lightblue;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include m.on-tablet {
      gap: 64px;
    }

    @include m.on-desktop {
      gap: 80px;
    }
  }
}
